* {
    font-family: 'HarmonyOS Sans';
}

body {
    background-color: black;
    height: 100%;
}

.check-new-container {
    width: 65%;
}

.check-new-title{
    font-size: 20px;
    font-weight: lighter;
}

.check-new-describe {
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.449);
    font-size: 13px;
}

.new-banben {
    display: none;
}

.new-banben-checked {
    margin-top: 20px;
    width:100%;
    height: 100px;
    border-radius: 13px;
    background-color: #3A3A3A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.check-new {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #3A3A3A;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.check-new:hover {
    background-color: rgb(49, 49, 49);
}

.get-new:hover {
    background-color: #5c4caa;
}

.check-new:active {
    background-color: rgb(39, 39, 39);
}

.get-new:active {
    background-color: #4f4293;
}

.get-new {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #6957C1;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin-right: 23px;
}