.mainpage-text {
    position: absolute;
    bottom: 0;
    padding: 50px;
    padding-bottom: 30px;
    width: -webkit-fill-available;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.mainpage-text-title {
    color: white;
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 0;
}

.mainpage-text-describe {
    color: rgba(255, 255, 255, 0.62);
    word-break: break-all;
    font-size: 20px;
    margin-top: 5px;
    font-weight: normal;
}