html {
    height: 100%;
}

body {
    height: 100%;
    user-select: none;
    background-color: #1B1B1B;
}

a:link {
    color:white;

}
a:visited {
    color:white;

}
a:hover {
    color:white;

}
a:active {
    color:white;

}

.loading-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.loading-topbar {
    position: fixed;
    z-index: 1919810114514114514;
    -webkit-app-region: drag;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    background: none;
}

.loading-topbar .topbar-menu {
    display: flex;
    align-items: center;
    user-select: none;
}

.loading-logo-drop {
    display: flex;
    align-items: center;
    height: 30px;
}

.loading-topbar-title {
    font-size: 24px;
    color:white;
    font-weight: lighter;
    margin-left: 15px;
}

.loading-topbar-logo {
    margin-left: 18px;
    margin-right: 16px;
    width: 18px;
}

.loading-topbar-icons-all {
    display: flex;
    align-items: center;
}

.loading-topbar-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    gap: 10px;
}



.loading-onhover {
    border-radius:7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 6px 6px 6px 6px;
    border: none;
    cursor: pointer;
}

.loading-topbar .loading-topbar-icons-all .loading-topbar-icons button img {
    width: 13px;
    height: 13px;
    padding: 0;
    border: none;
}



.loading-onhover:hover { 
    background-color: rgba(255, 255, 255, 0.299);
}

.loading-onhover:active { 
    background-color: rgba(255, 255, 255, 0.11);
}

.loading-closeonhover:hover { 
    background-color: rgba(177, 0, 0, 0.677);
}

.loading-closeonhover:active { 
    background-color: rgba(174, 0, 0, 0.351);
}

.flex-logo {
    width:100%;
    display: flex;
    justify-content: center;
}

.text-connecting {
    color:white;
    font-weight: 600;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.text-dev {
    margin-top: -13px;
    font-weight: 300;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.loading-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:30px;
}

.loading {
    margin-bottom: -5px;
    height:16px;
    width: 16px;
    border: 3px solid transparent;
    border-radius: 100px;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to right, #1B1B1B, #1B1B1B), linear-gradient(-45deg, white, rgba(255, 255, 255, 0));
    animation-name:turnZ;
    animation-duration:1.5s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}

@keyframes turnZ{
    0%{transform:rotateZ(0deg);}
    100%{transform:rotateZ(360deg);}
}

.timeout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}

.timeout-h1 {
    margin-top: 15px;
    font-weight: bold;
    font-size:45px;
}

.timeout-text {
    color:rgba(255, 255, 255, 0.577);
}

.timeout-retry-button {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #3A3A3A;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin-right: 23px;
    color:white;
    font-weight: 600;
}

.timeout-retry-button:hover {
    background-color: rgb(83, 83, 83);
}

.timeout-retry-button:active {
    background-color: rgb(73, 73, 73);
}
