html {
    height: 100%;
}

body {
    height: 100%;
    user-select: none;
    background-color: #EEF4F9;
}

.loading-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.text-title {
    width: 100%;
    font-weight: lighter;
    margin-bottom: 0;
    font-size: 50px;
}

.text-connecting {
    margin-top: 5px;
    font-weight: 600;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.448);
}