* {
    font-family: 'HarmonyOS Sans';
}

body {
    background-color: #141414;
}

.share-main {
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: calc(70vh);
    background-color: white;
}

.share-main #mainPicture {
    -webkit-user-drag:none;
    width: 100%;
}

.share-text-background {
    padding: 0 20px 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.share-text-background div h2 {
    font-weight: 300;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.share-text-background div h5 {
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
    word-break: break-all;
    width: 89%;
}

img.share-qrcode {
    -webkit-user-drag:none;
    width: 64px;
}