* {
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

.star-list {
    overflow-x: scroll;
    white-space: nowrap;
    width: max-content;
    padding-top: 50px;
}



.star-watching-in-list {
    white-space: unset;
    float: left;
    width: 48vw;
    height: calc(100vh - 50px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    display: flex;
    align-items: center;
}

.texts {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    justify-content: space-between;
}

.texts div h1{
    font-weight: lighter;
    word-wrap:break-word;
}

.texts div h3{
    font-weight: lighter;
}

.texts h4{
    font-weight: lighter;
}