* {
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

.star-list {
    overflow-x: scroll;
    white-space: nowrap;
    width: max-content;
    padding-top: 50px;
}

.star-watching-in-list {
    white-space: unset;
    float: left;
    width: 48vw;
    height: calc(100vh - 50px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
}