* {
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

.star-list {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    white-space: nowrap;
}



.star-watching-in-list {
    width: 45vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    display: flex;
    flex-direction: column;
}

.texts {
    white-space: normal;
    width: 45vw;
    height:100%;
    display: flex;
    align-items: center;
}

.texts div {
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
}

.texts div h1{
    font-weight: 600;
    word-wrap:break-word;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.texts div h3{
    font-weight: lighter;
    text-align: right;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.texts h4{
    font-weight: lighter;
}

.fenge {
    color:rgba(255, 255, 255, 0.551);
    font-weight: 300;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.month {
    color:rgba(255, 255, 255, 0.551);
    font-weight: 300;
    font-size: 20px;
    display: inline;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.dayte {
    font-weight: 300;
    font-size: 30px;
    display: inline;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.star-watching-bottom {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.star-watching-bottom button img {
    width: 23px;
    height:23px;
    filter: drop-shadow(0.35px 0.35px 10px rgba(0, 0, 0, 0.7));
}

.onhover:hover {
    backdrop-filter: blur(70px);
    background-color: rgba(255, 255, 255, 0.299);
}
  
.onhover:active {
    backdrop-filter: blur(70px);
    background-color: rgba(255, 255, 255, 0.174);
}