@font-face {
  font-family: "HarmonyOS Sans";
  src: url("../HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Black.woff2");
  font-weight: bolder;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("../HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("../HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("../HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("../HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("../HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Thin.woff2");
  font-weight: lighter;
}

* {
  font-family: "HarmonyOS Sans";
}

button {
  transition-duration: 0.2s;
  -webkit-app-region: no-drag;
}

.topbar {
  position: fixed;
  z-index: 1919810114514114514;
  -webkit-app-region: drag;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(98px);
}

.topbar .topbar-menu {
  display: flex;
  align-items: center;
  user-select: none;
}

.today-icon{
  height: 15px;
}

.logo-drop {
  display: flex;
  align-items: center;
  height: 30px;
}

.topbar-title {
  font-size: 24px;
  color: white;
  font-weight: lighter;
  margin-left: 15px;
}

.topbar-logo {
  margin-left: 18px;
  margin-right: 16px;
  width: 18px;
}

.topbar-icons-all {
  display: flex;
  align-items: center;
}

.topbar-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  gap: 10px;
}

.onhover {
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  padding: 6px 6px 6px 6px;
  border: none;
  cursor: pointer;
}

.onhover:hover {
  background-color: rgba(255, 255, 255, 0.299);
}

.onhover:active {
  background-color: rgba(255, 255, 255, 0.174);
}

.closeonhover {
  margin-right: 15px;
}

.closeonhover:hover {
  background-color: rgb(119, 0, 0);
}

.closeonhover:active {
  background-color: rgb(78, 0, 0);
}
.topbar .topbar-icons-all .topbar-icons button img {
  width: 13px;
  height: 13px;
  padding: 0;
  border: none;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  user-select: none;
}

/* 以下是菜单的实验性制作 */

.menu-item {
  cursor: pointer;
  margin-right: 10px;
  border-radius: 7px;
  background: none;
  padding: 14px 9px 14px 9px;
  border: none;
}
.menu-item-today-img {
  padding: 7px 5px 3px 8px !important;
}

.menu-item-chosen h5{
  color:white;
}

.menu-item-chosen img{
  color:white;
}

.menu-item-chosen {
  cursor: default;
  border-radius: 7px;
  background: none;
  padding: 14px 9px 14px 9px;
  border: none;
  margin-right: 10px;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.299);
}

.menu-item:active {
  background-color: rgba(255, 255, 255, 0.174);
}

.menu-item-chosen:hover {
  background-color: rgba(255, 255, 255, 0.299);
}

.menu-text {
  line-height: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.714);
}

.menu-item img {
  opacity: 0.714;
}

.all-menu.menu-focus {
  display: grid !important;
}

.update-tip {
  display: none;
}

.update-tip-checked {
  background-color: none;
  background-color: rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(98px);
  display: flex;
  align-items: center;
  padding: 15px 9px 15px 25px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.677);
  font-size: 16px;
  border-style: solid;
  border-radius: 10px;
  border-width: 0.7px;
  border-color: rgba(255, 255, 255, 0.212);
  margin-bottom: 6px;
  width: 350px;
}

.banbenhao {
  margin-left: 3px;
}

.updatebutton {
  color: #ffffff;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
}
