@font-face {
    font-family: 'HarmonyOS Sans';
    src: url("../HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Black.ttf");
    font-weight: bolder;
}

@font-face {
    font-family: 'HarmonyOS Sans';
    src: url("../HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'HarmonyOS Sans';
    src: url("../HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'HarmonyOS Sans';
    src: url("../HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'HarmonyOS Sans';
    src: url("../HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'HarmonyOS Sans';
    src: url("../HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Thin.ttf");
    font-weight: lighter;
}

* {
    font-family: 'HarmonyOS Sans';
}

button {
    -webkit-app-region: no-drag;
}

.topbar {
    -webkit-app-region: drag;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar .topbar-menu {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.topbar .topbar-date * {
    float: left;
    font-family: 'HarmonyOS Sans';
    color: white;
    font-size: 15px;
    align-content: center;
}

.topbar .topbar-icons {
    margin-right: 19px;
}

.topbar .topbar-date year {
    color: rgb(205, 204, 207);
    font-weight: lighter;
}

.topbar .topbar-date h2 {
    color: rgb(213, 213, 214);
    font-weight: 600;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
}

.topbar-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar .topbar-icons button {
    color: white;
    width: 16px;
    height: 16px;
    background: none;
    padding: 0;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}

.onhover {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.onhover:hover { 
    background-color: rgba(255, 255, 255, 0.299);
}

.onhover:active { 
    background-color: rgba(255, 255, 255, 0.11);
}

.topbar .topbar-icons button img {
    width: 16px;
    height: 16px;
    padding: 0;
    border: none;
}


.topbar .topbar-menu button {
    width: 16px;
    height: 16px;
    background: none;
    padding: 0;
    border: none;
}

.topbar .topbar-date date {
    font-weight: bolder;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}