.wallpaper-list:first-child {
    margin-top: 50px;
}

.wallpaper-in-list {
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    color: white;
    padding: 35px 35px 60px;
    height: 50vh;
    transition: height .4s;
}

.wallpaper-in-list div {
    height: inherit;
}

.wallpaper-in-list div div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: unset;
}

.wallpaper-in-list div div h1 {
    font-weight: 300;
    font-size: 38px;
}

.wallpaper-in-list div div h4 {
    display: block !important;
    font-weight: 300;
}

.wallpaper-in-list div h3 {
    margin-top: 7px;
    position: unset;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.662);
}

.wallpaper-in-list div * {
    margin-top: 0;
    margin-bottom: 0;
}

.wallpaper-in-list div {
    position: relative;
    bottom: 25px;
}

::-webkit-scrollbar {
    display: none;
}